<p>HOTEL CARD PAGE</p>

{% if check_status %}
    You have checked in
{% else %}
    You have not checked in yet
{% endif %}

<p>{{ hotel.name }}</p>
<p>{{ hotel.description }}</p>
<p><a href="/sales?hotel_pk={{ hotel.pk }}">Sales</a></p>
{% if not check_status %}

    {% for grade in hotel.grades %}
        <p>{{ grade.name }}</p>
        <form action="/check">
            <label for="arrive">Arrival date:</label>
            <input type="date" title="Arrival date" name="arrive" value="2019-02-06" min="2010-01-01" max="2050-12-31">
            <label for="leave">Leave date:</label>
            <input type="date" title="Leave date" name="leave" value="2019-02-09" min="2010-01-01" max="2050-12-31">

            <input type="hidden" name="hotel_pk" value="{{ hotel.pk }}" />
            <input type="hidden" name="grade_pk" value="{{ grade.pk }}" />
            <button type="submit">Check in</button>
        </form>

        <p>{{ grade.description }}</p>
    {% endfor %}
{% endif %}
