<p>SALES PAGE</p>
<p>{{ hotel.name }}</p>

<form action="/sales">
    <label for="start">Start date:</label>
    <input type="date" title="Start date" name="start" value="2019-02-06" min="2010-01-01" max="2050-12-31">
    <label for="arrive">End date:</label>
    <input type="date" title="End date" name="end" value="2019-02-09" min="2010-01-01" max="2050-12-31">

    <input type="hidden" name="hotel_pk" value="{{ hotel.pk }}" />
    <button type="submit">Give me table</button>
</form>

{% if total_grades %}
    Grade Days
    {% for grade, days in total_grades.items %}
        <p>{{ grade }}: {{ days }}</p>
    {% endfor %}
{% endif %}
{% if total_price %}
    Total price: {{ total_price }}
{% endif %}